# OS Files
Thumbs.db
db.properties
Desktop.ini
.DS_Store
.directory

# Editor and Tooling
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Excel / Spreadsheet Temp Files
~$*.xlsx
~$*.xls
~$*.csv
~$*.ods

# Log Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Programming leftovers (if code is added later)
node_modules/
venv/
.venv/
__pycache__/
*.pyc
